*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}

.homeContainer{
    width:  100%;
}

.homeMain{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100% !important;
    background: #FAFAFA;
}
.mainLeft{
    background:  #FFFFFF;
}

.mainLeftObjek{
    margin: 7% 8%;
}
.homeHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height:4vw;
}
.homeHeader .homeLogo p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2.3vw;
    line-height: 3vw;
    letter-spacing: 0.01vwpx;
    color: #7E98DF;
    margin-bottom: 0;

}
.settingBar{
    position: absolute;
    left: 10.61vw;
    width: 250px;
    height: 402px;
    background: #7E98DF;
    border-radius: 35px 10px 35px 35px;
}
.settingMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px 23px;
}
.settingObjek{
    display: flex;
    justify-content:flex-start;
    margin-top:1vw;
    cursor: pointer;
}
.settingObjek p{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 22px;
}
.homeSearch{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 5%;
    border: 1px white solid;
    border-radius: 1vw;
    background-color: #FAFAFA;
    width: 100%;
    height: 9vh !important;
}
.searchObjek {
    border: none;
    height: 8vh !important;
    width: 130%;
    border-radius: 1vw;
    background-color: #FAFAFA;
}

.searchObjek input{
    border: none;
    height: 8vh !important;
    width: 80%;
    margin-left: 10%;
    background-color: #FAFAFA;
    font-size: 1.3vw;
}
.homeDesc{
    margin-top: 2vw;
    display: flex;
    justify-content: space-evenly;
}
.descItem{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 3vw;
    text-align: center;
    letter-spacing: 0.01vw;
    color: #232323;
}
.homeFrienList{
    margin-top: 1vh;
    height: 55vh;
}
/*  skip skip some class name */

.bodyList{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 105%;
    height: 55vh;
}
.listFriend{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    width: 100%;
    height: 12vh;
}

.friendBodyChat{
    height: 5vw;
    margin-left: 0.5vw;
    width: 100%;
}
.friendImg img{
    width: 4.2vw;
}
.friendName p{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #232323;
    margin-bottom: 0;
    overflow: hidden;
}
.friendNewChat p{
    margin-bottom: 0 !important;
    height: 3vh;
    overflow:hidden;
    background: transparent;

}
.friendLastChat{
    text-align: inherit;
}
.chatTime p{
    margin-bottom: 0;
}
.chatCount{
    text-align: center;
    background: transparent;
}

/* ========RIGHT===============  */

.mainRight{
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-content: center;
    height:100vh;

}
.rightContentEmpty{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vw;
    line-height: 1.84vw;
    color: #848484;
}
.chatEmpty{
    text-align: center;
}
.chatEmpty button{
    display: none;
}

/* skip two class before */
.rightcontentContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rightContentUser{
    height: 95%;
}
.contentChatObjek{
    padding: 1.5vw 4.0vw;
    background: #FFFFFF;
}
.contentChatHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.chatHeaderImgName{
    display: flex;
    justify-content: flex-start;
}
.chatHeaderImg img{
    width: 5vw;
}
.chatHeaderName{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1vw;
}
.chatUserName p{
    margin-bottom: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #232323;
}
.chatUserStatus{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.165px;
    color: #7E98DF;
    }
.mainChatBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white !important;
}
.mainChatBodySelf{
    min-height: 68vh;
    max-height: 68vh;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}
.chatArea{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 4vw;
}

.messageWrapper{
    display: flex;
    justify-content: flex-start;
    /* flex-direction: row-reverse; */
    width: 100%;
    margin: 0.5vw;
}
.avatarChat img{
    width: 4vw;
}
.avatarChat img{
    min-width: 2vw;
}
.chatBodyTeks{
    background: #7E98DF;
    border-radius: 1vw 1vw 1vw 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1px 1vw 0 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    /* text-align: right;   */
    color: white;
}
.chatBodyTeks p{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.chatBodyTime p{
    font-size: 0.7vw;
}
.creatorChatBody{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: white !important;
}
.creatorChatObjek{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 0.6px solid grey;
    border-radius: 15px;
    background: #FAFAFA;
    width: 85%;
    margin-top: 1.5vw;
}
.creatorInput{
    width: 85%;
}
.creatorInput input{
    width:100%;
    height:8vmin;
    background: #FAFAFA;
    border-radius: 15px;
    border: none;
}
.creatorIconList{
    display: flex;
    justify-content: space-between;
    width: 5vw;
}

.responsiveBack{
    display: none;
}
/* ================================MEDIA QUERY AREA================================= */

@media screen and (max-width: 900px) {
    .friendImg img{
        width: 40px;
    }
    .chatHeaderImg img{
        width: 40px;
    }
    .avatarChat img{
        width: 50px;
    }
    .chatBodyTeks{
        padding: 2px 2vw 0 2vw;
        margin-left: 1vw;
        margin-right: 1vw; 
        text-align: right; 
        border-radius: 18px;
    }
    .chatBodyTeks p{
        font-size: 14px;
        padding: 0.1px;
    }
    .chatBodyTime p{
        font-size: 10px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .responsiveBack{
        display: inline;
        margin-right:10px;
        color: #7E98DF;
    }
    .mainLeft{
        display: none;
    }
    .homeMain{
        grid-template-columns: 100%;
    }
    .chatEmpty button{
        display: block;
    }
    .homeHeader .homeLogo p{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 3vw;
        letter-spacing: 0.1px;
        color: #7E98DF;
        margin-bottom: 0;
    }
    .homeBar::before{
        font-size: 18px;
        width: 18px;
    }
    .settingBar{
        /* display: absolute; */
        right: 22.61vw;
        width: 250px;
        height: 350px;
    }
}